# Container variables
HTTP_PORT=8080
DB_PORT=33060
# App variables
DB_USER=user
DB_PASSWORD=password
SUPPORT_EMAIL=support@example.com
# Development variables
## Set to a specific version to lock version and enable browser caching.
#VERSION=latest
## Set to a non true value to disable memory cache.
#ENABLE_CACHE=true
