{
    "apiKey": "AIzaSyAEPqpytNi7V4YkhohQMLnmiP4RRFPvPsk",
    "authDomain": "cmpe-272-a9188.firebaseapp.com",
    "projectId": "cmpe-272-a9188",
    "storageBucket": "cmpe-272-a9188.firebasestorage.app",
    "messagingSenderId": "89842834914",
    "appId": "1:89842834914:web:14d69cc2b0a2340ef52dbb"
}
